.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/radont.owl
src/ontology/radont.obo
src/ontology/radont.json
src/ontology/radont-base.*
src/ontology/radont-basic.*
src/ontology/radont-full.*
src/ontology/radont-simple.*
src/ontology/radont-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl